doctype html
html
  
  header
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/main.min.css")
  
  body
  
    h1
      | Hello world!!!
    p
      | This is first render

    script(src="js/scripts.min.js")